<link rel="stylesheet" type="text/css" href="css/demo.css" />

<center>
<div >
  <div class="well" style="width: 34%; margin: 30px; background-color: rgb(255, 255, 255); border: 1px solid #fdd1a0;">

    <h4 class="post-meta" style="font-size: 16px;">
  
      <p style="color: black;">Количество рынков: <b style="color: green;"><%= Bazar.all.size %></b></p>
      <hr style="border-top: 1px solid rgba(238, 238, 238, 0.02);">
  
      <p style="color: black;">Количество контейнеров: <b style="color: green; font-size: 20px;"><%= Container.all.size %></b></p>
       <hr style="border-top: 1px solid rgba(238, 238, 238, 0.02);">
  
      <p style="color: black;">Количество товаров: <b style="color: green; font-size: 20px;"><%= Product.all.size %></b></p>
  
    </h4>
  
  <hr style="border-top: 1px solid rgba(238, 238, 238, 0.02);">
    <%= link_to 'Посмотреть рынки', bazars_path, class: 'btn btn-success', style: 'color: #5d4444; background-color: rgba(92, 184, 92, 0); border-color: #0c1b0c; border-radius: 13px; font-size: 18px;' %>
    <p></p>
   <% if user_signed_in? %>
    <%= link_to 'Перейти в раздел управление продуктами', profiles_path, class: 'btn btn-success', style: 'color: #5d4444; background-color: rgba(92, 184, 92, 0); border-color: #0c1b0c; border-radius: 13px; font-size: 18px;' %>
   <% end %>

  </div>
</div>
</center>

<center>
		<div class="content">
			<div id="large-header" class="large-header">
				<!-- <h1 class="main-title">Online Bazar</h1> -->


			</div>
			<p></p>
			
			<div class="codrops-header" style="background-color: white; border-radius: 185px; background-color: rgb(255, 255, 255);">
				<nav class="codrops-demos">
					<h1 style="font-size:2.5em;">
					<a class="current-demo" href="<%= root_path %>">Главная</a>
					<a href="<%= bazars_path %>">Рынки</a>
					<a href="<%= profiles_path %>">Профиль</a>
					<a href="index4.html">О нас</a>
					</h1>
				</nav>
			</div>
		</div>
	</div>
</center>

<style type="text/css">
  body {
  	/*background: url(image/r.jpg) left top repeat;*/
    background: url(image/fon1.jpg) center top repeat;
    /*background: url(image/foni.jpg) center top repeat;*/
  }
  
</style>
