<hr>
<center>
  <%= form_tag(bazar_podrazdel_containers_path(bazar_id: @bazar.id, podrazdel_id: @podrazdel.id), :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "      Текст для поиска", style: 'width: 17; font-size: 17px;' %>
      <%= submit_tag "Поиск", :name => nil, class: 'btn btn-default', style: 'border-radius: 10px;' %>
  <% end %>
</center>

<p></p>
<p>
<%= link_to "Вернуться к проходам", bazar_path(@bazar.id, @podrazdel.id), class: 'btn btn-default', style: 'margin-left: 10px;' %>
</p>

<center>
    <div class="row row-category">
      <div class="col-md-3">
        <% @podrazdel.containers.each do |p| %>
      </div>
    </div>

    <div class="">
      <div class="col-md-2">
        <div class="thumbnail" style="border-radius: 28px; border: 1px solid silver; background: rgba(255, 255, 255, 0.69);">
          <h1>
          <p><div class="post-meta"><h4><b> <%= p.name %></b></h4></div></p>
          </h1>
          <a><%= link_to 'Посмотреть товары', bazar_podrazdel_container_path(@bazar.id, @podrazdel.id, p.id), class: "button24", style: 'font-size: 12px;'%>
          </p>
            <img src="/image/cont.jpg" style="border-radius: 15px;">
          <% end %>
        </div>
      </div>
    </div>
</center>
