<center>
 <%= form_for [@form] do |f| %>
    
      <hr></hr>
	<div class="field">
		<%= f.label :Веш_имя %><br />
		<%= f.text_field :name, class: "well" %>
	</div>

	<div class="field">
		<%= f.label :Ваша_почта %><br />
		<%= f.email_field :email, class: "well" %>
	</div>

	<div class="field">
		<%= f.label :Раздел %><br />
		<%= f.text_area :proxod, class: "well" %>
	</div>

	<div class="field">
		<%= f.label :Описание %><br />
		<%= f.text_area :description, class: "well" %>
	</div>

	<div class="field">
	   <%= f.label :Номер_Контейнера %><br />
		<%= f.number_field :container, class: "well" %>
	</div>
	
	<div class="field">   
		<%= f.label :Ваш_номер_телефона %><br />
		<%= f.number_field :number, class: "well" %>
	</div>
	<hr></hr>
	<div class="actions">
        <%= f.submit "Отправить", class: "btn btn-success" %>
    	<%= link_to 'Отменить', profiles_path, class: "btn btn-danger" %>
    </div>
 <% end %>
</center>